@font-face {
  font-family: "gilroyregular";
  src: url("../../assets/fonts/Gilroy-Regular.woff") format("woff");
}
.support-container {
  margin: 20px 26px 0px 26px;
}
@media only screen and (min-width: 768px) {
  .support-container {
    margin: 20px 60px 0px 60px;
  }
}
